@model PagedList.IPagedList<SHoppMVC.Models.OrderInfo>
@using PagedList.Mvc;
@{
    Layout = null;
    ViewBag.Title = "ShipCenter";
}
<link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://www.jq22.com/jquery/bootstrap-4.2.1.css">
<link rel="stylesheet" href="~/Areas/Admin/content/css/fontastic.css">
<link rel="stylesheet" href="~/Areas/Admin/content/css/style.default.css" id="theme-stylesheet">
@*页面样式 *@
<link rel="stylesheet" href="https://www.jq22.com/jquery/font-awesome.4.7.0.css">
<link href="~/Areas/Admin/content/css/button/component.css" rel="stylesheet" />
<link href="~/Areas/Admin/content/css/button/hoverStyle.css" rel="stylesheet" />


<div>
    <div>
        <a href="javascript:sliter(0)" class="btna btnaHover">所有</a>
        <a href="javascript:sliter(1)" class="btna">运输中</a>
        <a href="javascript:sliter(2)" class="btna">已签收</a>
    </div>
    @using (Html.BeginForm())
    {
        <div>
            @Html.TextBox("orderSn", null, new { @placeholder = "请输订单号" })
            @Html.TextBox("deliverySn", null, new { @placeholder = "请输发货号" })
            时间：
            @Html.TextBox("Startdate", null, new { @class = "form_datetime", @placeholder = "请输入开始时间" })
            <span>-</span>@Html.TextBox("Enddate", null, new { @class = "form_datetime", @placeholder = "请输入结束时间" })
          

            <div class="progress-button">
                <button type="submit" id="search">搜 索</button>
            </div>
            <div class="progress-button">
                <button type="submit" id="search">@Html.ActionLink("导出", "excelout")</button>
            </div>
        </div>

        @Html.Hidden("IsEnd")
        <table class="table">
            <tr>
                <th>
                    订单编号
                </th>

                <th>
                    发货单号
                </th>
                <th>
                    用户名称
                </th>
              
                <th>
                    运输状态
                </th>
                <th>
                    发货时间
                </th>
             
                <th>
                    订单确认时间
                </th>
             

            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.orderSn)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.deliverySn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserInfo.LoginName)
                    </td>
                    <td>
                        @if (item.shippingStatus == 1)
                        {
                            <p>运输中</p>
                        }
                        else 
                        {
                            <p>运输完成</p>
                        }
                      

                    </td>


                    <td>
                        @if (item.shippingTime == null)
                        {
                            <p>暂无</p>
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.shippingTime)
                        }
                      

                    </td>

                    <td>
                        @if (item.confirmTime == null)
                        {
                            <p>暂无</p>
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.confirmTime)
                        }
                     
                    </td>



                  

                  
                </tr>
            }

        </table>
    }

    共 @Model.PageCount 页，当前 @Model.PageNumber 页
    @Html.PagedListPager(Model, pagenum => Url.Action("ShipCenter", new { pagenum }))
</div>
@* 时间控件 *@
<script src="https://www.jq22.com/jquery/jquery-1.10.2.js"></script>
<script src="https://www.jq22.com/jquery/bootstrap-4.2.1.js"></script>
<script src="~/Areas/Admin/content/js/front.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
<script>
    //日期控件
    $('.form_datetime').datetimepicker({
        weekStart: 0, //一周从哪一天开始
        todayBtn: 1, //
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        forceParse: 0,
        showMeridian: 1
    });
    //物流状态
    function sliter(typeid) {

        document.getElementById("IsEnd").value = typeid;
        $("#search").trigger("click");
    }

</script>