@model SHoppMVC.Models.massage


@{
    Layout = null;
    ViewBag.Title = "ShopManageupdate";
    ViewBag.nav = "商品评论管理>商品评论管理的查看";
}
<link rel="stylesheet" href="https://www.jq22.com/jquery/bootstrap-4.2.1.css">
<link rel="stylesheet" href="~/Areas/Admin/content/css/fontastic.css">
<link rel="stylesheet" href="~/Areas/Admin/content/css/style.default.css" id="theme-stylesheet">
@* 按钮的样式 *@
<link href="~/Areas/Admin/content/css/button/component.css" rel="stylesheet" />

<style>
    .tdwidth {
        width: 140px;
    }

    tr {
        height: 50px;
    }
        .DropList {
        width: 358px;
        height: 40px;
    }
</style>
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <br /><br /><br />
                <h3 style="border-bottom:2px solid #33b35A;padding-bottom:10px;">商品评论详情</h3>

                <table class="table" style="color:black;font-size:20px;margin-top:6%;">
                    <tr style="background-color:#f9f9f9;">
                        <td class="tdwidth">@Html.DisplayName("文章编码:")</td>
                        <td style="width:190px;"> @Html.DisplayFor(model => model.massageCode)</td>
                        <td class="tdwidth">
                            @Html.DisplayName("评论人:")
                        </td>
                        <td style="width:190px;">  @Html.DisplayFor(model => model.userName)</td>

                        <td class="tdwidth">@Html.DisplayName("评论内容:")</td>
                        <td style="width:170px;">@Html.DisplayFor(model => model.messageContent)</td>


                    </tr>
                    <tr>

                        <td class="tdwidth">
                            @Html.DisplayName("评论时间:")
                        </td>
                        <td>
@Html.DisplayFor(model => model.messageTime)
                        </td>

                        <td class="tdwidth">
                            @Html.DisplayName("文章ID:")
                        </td>
                        <td>
                                @Html.DisplayFor(model => model.articleId)
                        

                        </td>
                        <td class="tdwidth">
                            @Html.DisplayName(" 是否删除:")
                        </td>
                        <td>

                            @if (Model.isDelete == 0)
            {
                                <p>没有删除</p>
                            }
                            @if (Model.isDelete == 1)
            {
                                <p>已经删除</p>
                            }
                        </td>



                    </tr>


                </table>
            </div>
        </div>



    </div>
</div>

<div style="margin-left:17%;text-decoration:none;">
    <div class="progress-button">
        <button type="submit" id="search">@Html.ActionLink("返回", "ShopReviewsManage")</button>
    </div>
    @*@Html.ActionLink(" ", "Index", null, new { @class = "fa fa-arrow-left", @style = "font-size:40px;" })*@
</div>

<script src="https://www.jq22.com/jquery/jquery-1.10.2.js"></script>
<script src="https://www.jq22.com/jquery/bootstrap-4.2.1.js"></script>
<script src="~/Areas/Admin/content/js/front.js"></script>